* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

#header-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.nav{
    display: flex;
    justify-content: center;
 }
 .nav ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
 }

 .nav a{
    text-decoration: none;
    color: #E5E7EB;
    
 }

 .logo{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    flex-basis: 45rem;
    font-weight: 700;
}

.page-hero-photo {
    margin-left: 60px;
    width: 100%;
    height: 260px;
    align-self: center;
}

#page-container{
    background-color: #1f2937;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-hero{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-basis: 72rem;
}

.page-hero-items h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-top:-15px;
}
.page-hero-items p{
    align-self: flex-start;
    text-align: left;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -40px;
}
.page-hero-items button{
    
    align-self: flex-start;
}
