* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

#header-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.nav{
    display: flex;
    justify-content: center;
 }
 .nav ul{
    list-style-type: none;
    display: flex;
    gap: 26px;
 }

 .nav a{
    text-decoration: none;
    color: #E5E7EB;
    
 }

 .logo{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    flex-basis: 57rem;
    font-weight: 700;
}

.page-hero-photo {
    margin-left: 60px;
    width: 100%;
    height: 260px;
    align-self: center;
}

#page-container{
    background-color: #1f2937;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-basis: 72rem;
}

.page-hero-items h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-top:-15px;
}
.page-hero-items p{
    align-self: flex-start;
    text-align: left;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -40px;
}
.page-hero-items button{
    
    align-self: flex-end;
}

.signup{
    background-color: #3882f6;
    padding: 8px 25px;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
#info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.info-photos{
  width: 200px;
 height: 160px;
}

.title-top{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
}


.info-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
}

#quote-box{
    background-color: #e5e7eb;

    padding: 30px;
}

.quote-container{
    display: flex;
    justify-content: center;

 

}

.quote-items{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-basis: 50rem;
    padding: 80px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    text-align: justify;
}
 .author-quote{
    font-size: 30px;
    font-weight: 600;
    margin-left: 450px;
    margin-top: -30px;
    padding-top: 0;
}


.action-container{

    display: flex;
    justify-content: center;
    padding: 50px;

}

.action{
    background-color:#3882f6;
    padding: 25px 190px;
    border-radius: 10px;
    

}

.action-button{
    align-self: center;
    background-color: transparent;
    border: solid white 2px;
    border-radius: 5px;
    padding: 5px 25px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 100px;
    
    
}

.action p{
    margin-top: -15px;
}

.action{
    display: flex;
    justify-content: space-between;
}

.action-items{
    color: #F9FAF8
}
footer{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 30px;
    text-align: center;
}